// assets/scss/style.scss

// 1. Importación de variables personales.
// Al principio para que Bootstrap pueda usarlas.
@use "variables" as *;

// 2. Carga el archivo principal de Bootstrap y sobrescribe las variables.
// La directiva `with` se encarga de pasarle mis variables a Bootstrap.
@use "bootstrap/scss/bootstrap" with (
  $primary: $color-primary,
  $secondary: $color-secondary,
  
  $dark: $color-dark,
  $light: $color-light,
  $font-family-base: $font-primary,
  $h1-font-size: $font-size-h1,
  $h2-font-size: $font-size-h2,
  $h3-font-size: $font-size-h3
);

// 3. Importa estilos base, layout y componentes.
// Estos archivos usarán las variables que ya he definido.
@use "base";
@use "layout";
@use "components";